+++
title = "O11y workshops"
linkTitle = "O11y workshops"

+++


{{< blocks/cover title="O11y workshops" image_anchor="top" height="min" color="orange" >}}
<div class="mx-auto">
    <p class="lead mt-5">If you're looking for workshops on open source observability solutions like Prometheus, Grafana, and Thanos, you've come to the right place. We offer a variety of workshops to help you get the most out of these tools.</p>
</div>
{{< /blocks/cover >}}



{{< blocks/section >}}
{{% blocks/feature icon="fa fa-fire" title="Prometheus workshop" %}}
Get up and running with Prometheus monitoring in no time!

<a class="btn btn-lg btn-secondary mb-4" href="/prometheus">Go to the workshop <i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
{{% /blocks/feature %}}


{{% blocks/feature icon="fa fa-globe" title="Thanos workshop" %}}
Coming later

<a class="btn btn-lg btn-secondary mb-4" href="mailto:info@o11y.eu?subject=I am interested in a Thanos workshop">Contact us <i class="fas fa-envelope ml-2"></i></a>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-shoe-prints" title="Jaeger workshop" %}}
Coming later

<a class="btn btn-lg btn-secondary mb-4" href="mailto:info@o11y.eu?subject=I am interested in a Jaeger workshop">Contact us <i class="fas fa-envelope ml-2"></i></a>
{{% /blocks/feature %}}
{{< /blocks/section >}}

